<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello World!</h1>
    {% endif %}

    <h2>Some statistics:</h2>
    <ul>
        <li>Total products in {{collection_3}}: {{ result.count }}</li>
        <li>Min price in collection 3: ${{ result.min_price }}</li>
        <li>Total orders: {{ orders_count.total_orders }}</li>
        <li>{{ product_1 }} units sold: {{ units_sold.sum }}</li>
        <li>Orders by {{ customer_1.first_name }} {{ customer_1.last_name }}: {{ orders_by_c1.count }}</li>
        <li>Min price of the products in {{collection_3}}: ${{ collection_3_pricing.min_price}}</li>
        <li>Max price of the products in {{collection_3}}: ${{ collection_3_pricing.max_price}}</li>
        <li>Average price of the products in {{collection_3}}: ${{ collection_3_pricing.avg_price}}</li>

    </ul>

    <h2>Last 5 orders with their customer and items:</h2>
    <ul>
        {% for order_item in orders %}
        <li>{{ order_item.order.placed_at }} - {{ order_item.order.customer.first_name }} {{ order_item.order.customer.last_name }} - {{ order_item.product.title }}</li>
        {% endfor %}
    </ul>
    <br>

    <h2>Products with low inventory (less than 10)</h2>
    <ul>
        {% for product in low_inventory_products %}
        <li>{{ product.title }} - {{ product.inventory }} units.</li>
        {% endfor %}
    </ul>

</body>

</html>